// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$eshop-gold: (
  50: #f8f6eb,
  100: #eee8cd,
  200: #e2d9ac,
  300: #d6ca8a,
  400: #cebe71,
  500: #c5b358,
  600: #bfac50,
  700: #b8a347,
  800: #b09a3d,
  900: #a38b2d,
  A100: #fffae7,
  A200: #ffeeb4,
  A400: #ffe381,
  A700: #ffde68,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
$eshop-red-gold: (
  50: #f3e0e0,
  100: #e0b3b3,
  200: #cc8080,
  300: #b84d4d,
  400: #a82626,
  500: #990000,
  600: #910000,
  700: #860000,
  800: #7c0000,
  900: #6b0000,
  A100: #ff9a9a,
  A200: #ff6767,
  A400: #ff3434,
  A700: #ff1a1a,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);
$eshop-primary: mat-palette($eshop-gold);
$eshop-accent: mat-palette($eshop-red-gold);

// The warn palette is optional (defaults to red).
$eshop-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$eshop-theme: mat-light-theme(
  (
    color: (
      primary: $eshop-primary,
      accent: $eshop-accent,
      warn: $eshop-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($eshop-theme);

/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}
.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 1rem;
}

html,
body {
  height: 100%;
}
body {
  background-color: #212121;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
